# autotools cruft
/INSTALL
/Makefile.in
/aclocal.m4
/autom4te.cache/
/autostuff/
/configure
/configure.lineno

# Editor/IDE cruft
*.kate-swp
*~
/*.kdev4
/Makefile.am.user

# Configure/build cruft
*.[ao]
*.l[ao]
.deps/
.dirstamp
.libs/
/ChangeLog
/Makefile
/config.*
/contrib/sigrok-cli-*-installer.exe
/contrib/sigrok-cli_cross.nsi
/sigrok-cli
/sigrok-cli-*.tar.*
/sigrok-cli.exe
/stamp-h?
CMakeLists.txt.user
